.button{
  display: block;
  width: 200px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 20px;
  border: 1px solid transparent;
  border-radius: 20px;
  background-color: blue;
  color: #fff;
  transition: all 0.3s ease;

  &:hover{
    background-color: transparent;
    color: blue;
    border: 1px solid blue;
  }
}

.list{
  @include list-style;
  margin: 0 auto;
}

.item{
  padding: 20px;
  border: 1px solid #000;

  &:not(:last-child){
    margin-bottom: 10px;
  }
}

